<!DOCTYPE html>

<html lang="en-us">
  <head>
    <meta charset="UTF-8">
    <title>Visualization</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="../static/style/stylesheet.css" media="screen">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Merriweather:900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../static/style/visualization.css" media="screen">
  </head>
  
  <body>
   <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span> 
          </button>
        </div>
        <div class="navbar-collapse collapse" id="myNavbar">
          <ul class="nav nav-pills">
            <li><a href="{{ url_for('index') }}">Home</a></li>
            <li><a href="{{ url_for('parks') }}">Parks</a></li>
            <li><a href="{{ url_for('campgrounds') }}">Campgrounds</a></li>
            <li><a href="{{ url_for('states') }}">States</a></li>
            <li><a href="{{ url_for('events') }}">Events</a></li> 
            <li><a href="{{ url_for('about') }}">About</a></li>
            <form class="navbar-form navbar-right" action="{{url_for('search')}}" onsubmit="{{url_for('search')}}" role="search">
              <div class="input-group">
                <input id="search_term" type="text" class="form-control" name="search" placeholder="Search for...">
                <span class="input-group-btn">
                <button class="btn btn-default" type="submit"><span class=" glyphicon glyphicon-search"></span></button>
                </span>
              </div><!-- /input-group -->
            </form>
          </ul>
        </div>
      </div>
    </nav>

    <div id="row1" class="row">
      <div class="title">
        <h1 id="title1">PartyPeople's API Visualization</h1>
      </div> 
      <div id="tooltip"></div><!-- div to hold tooltip. -->
      <svg width="960" height="600" id="statesvg"></svg> <!-- svg to hold the map. -->
      <script src="/static/js/uStates.js"></script> <!-- creates uStates. -->
      <script src="http://d3js.org/d3.v3.min.js"></script>
      <script>

        function tooltipHtml(n, d){ /* function to create html content string in tooltip div. */
          return "<h4>"+n+"</h4><table>"+
            "<tr><td>Name</td><td>"+(d.name)+"</td></tr>"+
            "<tr><td>Capital</td><td>"+(d.capital)+"</td></tr>"+
            "<tr><td>Candidates</td><td>"+(d.candidates)+"</td></tr>"+
            "<tr><td>Governor</td><td>"+(d.governor)+"</td></tr>"+
            "<tr><td>Population</td><td>"+(d.population)+"</td></tr>"+
            "</table>";
        }

        

        
        var dict = {{ state_dict|tojson|safe }}
        var sampleData ={}; /* Sample random data. */ 
        ["HI", "AK", "FL", "SC", "GA", "AL", "NC", "TN", "RI", "CT", "MA",
        "ME", "NH", "VT", "NY", "NJ", "PA", "DE", "MD", "WV", "KY", "OH", 
        "MI", "WY", "MT", "ID", "WA", "TX", "CA", "AZ", "NV", "UT", 
        "CO", "NM", "OR", "ND", "SD", "NE", "IA", "MS", "IN", "IL", "MN", 
        "WI", "MO", "AR", "OK", "KS", "LA", "VA"]
          .forEach(function(d){ 
            sampleData[d]={color:d3.interpolate("#ffffcc", "#800026")((dict[d]['candidates'])/20),
                           name: dict[d]['name'],
                           candidates: dict[d]['candidates'],
                           governor: dict[d]['governor'],
                           capital: dict[d]['capital'],
                           population: dict[d]['population']
                          }; 
            if (sampleData[d]['color'] == '#000000')
            {
              sampleData[d]['color'] = d3.interpolate("#ffffcc", "#800026")(1);
            }
          });
        /* draw states on id #statesvg */ 
        uStates.draw("#statesvg", sampleData, tooltipHtml);
        
        d3.select(self.frameElement).style("height", "600px"); 
      </script>
     <!--  <p>It looks like Partypeople.me is down.</p> -->
    </div>
  </body>
</html>
